@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f7ff;
}

/* NAVBAR */
.navbar {
  background: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #4f46e5;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 48px;
  color: #111827;
}

.hero p {
  margin: 15px 0;
  color: #555;
}

.hero-buttons {
  margin-top: 30px;
}

/* BUTTONS */
.btn {
  padding: 12px 30px;
  border-radius: 6px;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
}

.primary {
  background: #4f46e5;
  color: white;
}

.secondary {
  border: 2px solid #4f46e5;
  color: #4f46e5;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;
  padding: 25px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* AUTH PAGES */
.auth-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.full {
  width: 100%;
  border: none;
  cursor: pointer;
}

.switch {
  text-align: center;
  margin-top: 15px;
}

.switch a {
  color: #4f46e5;
  text-decoration: none;
}
